:root {
	--main-color: #fba629;
	--transparent-color: rgb(255 255 255 / 70%);;
	--hover: #451313;
	--font:  'Philosopher', sans-serif;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  width: 100%;
  background-color: white;
}
a{
	text-decoration: none;
	font-family: var(--font);
}
ul{
	list-style: none;
}

@media (min-width: 992px){
	.container {
    width: 970px;
	}
}
@media (min-width: 768px){
	.container {
    width: 750px;
	}
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
	}



/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
header{
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: var(--main-color);
	z-index: 2;
}

.title img{
	width: 60px;
	height: auto;
	max-width: 60px;
	cursor: pointer;
	padding: 10px;
}

.spred-links ul{
	display: flex;
	flex-direction: row;
}

.spred-links ul li a{
	color: whitesmoke;
	padding: 10px;
  margin: 3px;
	font-size: 25px;
	cursor: pointer;
}

.spred-links ul li a:hover{
	text-decoration: underline;
	color: black;
	font-family: 'Dancing Script', cursive;
	color: var(--hover);
}

span{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 42px;
	cursor: pointer;
	background-color: var(--transparent-color);
	padding: 16px;
}

@media(max-width: 900px){
	.spred-links{
		display: none;
	}
	span{
		display: block;
	}
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 100px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--hover);
  font-family: 'Dancing Script', cursive;
	color: var(--hover);
}

.sidenav .closebtn {
  position: absolute;
  top: -65px;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
.icon i{
	font-size: 30px;
	display: block;
	background-color: var(--main-color);
	padding: 10px;
	color: whitesmoke;
	cursor: pointer;
	border-radius: 50%;
	padding: 10px;
}
@media(max-width: 768px){
	.nav-bar{
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color: grey;
	}
	.nav-bar ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.nav-bar ul li{
		width: 100%;
		height: 100%;
	}
	.nav-bar ul li a{
		display: block;
	}
	.icon i{
		right: 0;
		top: 5px;
		z-index: 10;
	}
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.msg{
	position: fixed;
	bottom: 120px;
	right: 5px;
	z-index: 10;
}
.msg i {
	font-size: 40px;
	color: var(--main-color);
	box-shadow: 0 10px 14px 0 rgb(0 0 1);
  border-color: black;
	cursor: pointer;
	z-index: 10;
	border-radius: 50%;
	padding: 10px;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
footer{
	background-color: var(--main-color);
}
footer .links h4{
	font-size: 28px;
	text-align: center;
	padding: 10px;
	font-family: var(--font);
}
footer .links ul{
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: center;
}
footer .links ul li a{
	padding: 15px;
  font-size: 25px;
  color: whitesmoke;
}